@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

:root {
    --bs-body-color : #f5f5f5;
    --default-font-color: #00ced1;
    --default-border-color: #66cccc;
    --default-background-color: #1c2a33;
}
.random-color-element {
    color:#c0c0c0
}

body {
    background-color: #1c2a33 !important;
    font-family: 'Nanum Gothic', sans-serif;
    color: #f5f5f5;
}

.default-font {
    color: #00ffff;
    font-size: 11pt;
}

.custom-input {
    background-color: var(--default-background-color) !important;
    border: var(--bs-border-width) solid var(--default-font-color) !important;
}


.custom-input-suffix-font {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: .9rem;
    font-weight: bold;
    line-height: 1.5;
    color: var(--default-font-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--default-background-color);
    border: var(--bs-border-width) solid var(--default-font-color);
    border-left: none;
    border-radius: var(--bs-border-radius);
}

#main-content {
    max-width: 90vw;
    padding: 1em 1.5em;
    margin: 0 auto 10px;
    /*background-color: #fff;*/
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.highlight {
    width: 100%;
    height: 20em;
    border: var(--bs-border-width) solid var(--default-border-color);
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 450px;
}

.item-container {
    display: flex;
    align-items: center;
    width:20%;
}

.item-box {
    flex: 0 0 calc(20% - 10px); /* 한 줄에 최대 5개의 아이템이 들어갈 수 있도록 너비 설정 */
    margin: 5px; /* 각 아이템 사이의 간격 설정 */
}

.flex-side {
    justify-content: space-between;
}

.text-custom-orange {
    color: #f6bb43
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 0.8em;
}

.bid-container {
    padding: 0.5rem !important;
    border: var(--bs-border-width) var(--bs-border-style) var(--default-border-color) !important;
    border-radius: var(--bs-border-radius-lg) !important;
}

.display-container {
    padding: 0.5rem !important;
    border: var(--bs-border-width) var(--bs-border-style) var(--default-border-color) !important;
    border-radius: var(--bs-border-radius-lg) !important;
    height:250px;
    overflow-y: scroll;

}

.successful-bid {
    flex:1;
    display:flex;
    flex-direction: column;
    text-align:center;
}


.item-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow:hidden;
    margin:0 auto;
}

.item-img img {
    width:100%;
    height:100%;
    object-fit:cover;

}

.item-box {
    display:flex;
    flex-direction: column;
    width:48px;
    /*justify-content: center;*/
}


.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.arrow-box {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.flex-one {
    flex:1;
}

.message-line {
    display: flex;
    padding: 0.5rem !important;
    margin-bottom: 0.25rem !important;
}

.writer {
    line-height: 16pt;
    font-size: 12px;
    font-weight: bold;
    margin-right:1.5rem !important;
}

.message {
    font-weight: bold;
    line-height: 16pt;
}

.overlay-inactive {
    position: relative;
}

.overlay-inactive::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 검은색 반투명한 막 */
    z-index: 1; /* 다른 요소들보다 위에 나타나도록 설정 */
}


::-webkit-scrollbar-thumb {
    background: #e89a3e; /* 스크롤바 막대 색상 */
    border: 2px solid #9b6a2f; /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
}

.participant-info {
    padding : 1rem;
}

.emphasis-user {
    border-radius: 10px;
    border: 2px solid #ffa500;
}

.active-user {
    color : #e5e5e5;
}

#exchange-modal-message {
    color : #00ced1
}
