<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable
        Javascript and reload this page!</h2>
</noscript>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="/chat/createRoom" method="post">
                <input type="text" name="name" placeholder="채팅방 이름">
                <button type="submit">방 만들기</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <tr th:each="room : ${roomList}">
                    <td>
                        <a th:href="@{chatRoom(roomId=${room.roomId} )}"
                           th:text="${room.name}"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script src="/js/list.js"></script>
</body>
</html>