<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="webjars/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="webjars/jquery/jquery.slim.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.js"></script>

</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable
        Javascript and reload this page!</h2>
</noscript>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <button type="button" id="createChannel" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createChannelModal" data-bs-whatever="경매 채널">채널 만들기</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <tr th:each="channel : ${channelList}">
                    <td>
                        <a th:href="@{/channel/{id}(id=${channel.channelId} )}"
                           th:text="${channel.name}"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="createChannelModal" tabindex="-1" aria-labelledby="createChannelModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="channel-name" class="col-form-label">채널 이름</label>
                        <input type="text" class="form-control" id="channel-name">
                    </div>
                    <div class="mb-3">
                        <label for="channel-capacity" class="col-form-label">최대 인원</label>
                        <input type="number" class="form-control" id="channel-capacity">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitData">채널 생성</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/list.js"></script>
</body>
</html>